html, body {
    padding: 0;
    margin: 0;
}

/* Color */
:root {
    --header-color: #fff;
    --background-color: whitesmoke;
    --primary-color: lightgray;
    --secondary-color: lime;
    --tertiary-color: darkgray;
    --disabled-color: #484848;
    --gray: #e9ecef;
    --white: #fff;
}

.header_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: large;
}

.resume h2 {
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.header_div {
    float: right;
}

ul {
    list-style: none;
}

:any-link {
    text-decoration: none;
}

.profile {
    background-color: lightslategray;
    padding: 1%;
    overflow: hidden;
}

.profile_picture {
    float: left;
    border-radius: 50%;
    margin-left: 1%;
    margin-right: 10px;
}

.main {
    padding: 2%;
}

.fixed {
    overflow: auto;
}

.floated_content {
  padding: 2Opx;
  float: left;
}

.resume {
    padding: 1%;
    box-sizing: border-box;
    font-size: larger;
    width: 80%;
}

.sidebar {
    background-color: var(--primary-color);
    padding: 1%;
    box-sizing: border-box;
    width: 20%;
    float: right;
}

footer {
    clear: both;
    padding: 1%;
    background-color: lightslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

footer div {  
}

.text_white {
    color: var(--white);
}